<%- include("header") -%>

<h2>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui impedit, nobis, aperiam officia amet voluptatibus ducimus dignissimos quisquam delectus minus debitis perspiciatis eveniet itaque assumenda rem corporis? Quod, veritatis nobis.
</h2>

<%- include("footer") -%>
